name: "Python challenges task"
description: "yolo"

mode: LISTEN
hostname: "OhYouHaxx0rThereIsNothingHere"

bindhost: "0.0.0.0"
port: 31337

# I believe 0, 1, 2 were needed so connected 
# users could speak with Python interpreter
pass_fd: 0
pass_fd: 1
pass_fd: 2
pass_fd: 100  # Needed for chall

# NOTE: Probably it would be better to have it as false
keep_env: true 

time_limit: 60
max_cpus: 1

cgroup_pids_max: 1

# Memory limits
rlimit_as: 64
rlimit_core: 0
rlimit_cpu: 10
rlimit_fsize: 0
rlimit_nofile: 32
rlimit_stack_type: SOFT
rlimit_nproc_type: SOFT

uidmap {
	inside_id: "1"
	outside_id: "nobody"
}

gidmap {
	inside_id: "1"
	outside_id: "nobody"
}

mount_proc: true

mount {
	src: "/usr"
	dst: "/usr"
	is_bind: true
	rw: false
}

mount {
	src: "/lib"
	dst: "/lib"
	is_bind: true
	rw: false
}

mount {
	src: "/lib64"
	dst: "/lib64"
	is_bind: true
	rw: false
}

mount {
	src: "/bin"
	dst: "/bin"
	is_bind: true
	rw: false
}

mount {
	src: "/task/fake_passwd"
	dst: "/etc/passwd"
	is_bind: true
	rw: false
	mandatory: true
	is_dir: false
}

mount {
	dst: "/tmp"
	fstype: "tmpfs"
	rw: true
}

exec_bin {
	#path: "/bin/ls"
	#arg0: "ls"
	#arg: "-la"
	#arg: "/proc/self/fd"
	path: "/usr/bin/python3"
	arg0: "python3"
	arg: "/proc/self/fd/100"
}

# NOTE: This policy here sucks.
# I didn't bother to make it better
seccomp_string: "POLICY example {						"
seccomp_string:	"	ERRNO(1337) { getuid, getgid, geteuid, getegid },	"
seccomp_string:	"	ERRNO(0) { ptrace },					"
seccomp_string: "	ALLOW { execve }					"
seccomp_string:	"}								"
seccomp_string:	"USE example DEFAULT ALLOW "
seccomp_log: true

